/* general styles */
.card {
    border: none;
}

/* search form style */
#search-form {
    margin: 0;
}
.form-input,
.btn {
    margin: 0 auto 15px;
}

/* search history style */
#previous-searches {
    margin: 0;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

#previous-searches li {
    list-style-type: none;
    background-color: #5755D9;
    border: .05rem solid #5755d9;
    border-radius: 0.1rem;
    padding: 10px 10px;
    margin: 5px;
    color: white;
}
#previous-searches li:hover {
    background: #4240d4;
    border-color: #3634d2;
    color: #fff;
}

/* weather display style */
#forecast-five-day {
    display: none;
}
#forecast-div {
    display: flex;
    flex-direction: column;
}
div[id^="forecast-index"] {
    padding: 15px 15px 0;
  }

/* UV color codes */
.favorable{
    color: rgb(35, 219, 35);
}
.moderate{
    color: rgb(241, 228, 46);
}
.severe{
    color: rgb(209, 131, 29);
}
/* Media queries */
@media screen and (min-width: 480px) {
    #forecast-div {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    div[id^="forecast-index"] {
        width: 30%;
    }
}
@media screen and (min-width: 700px) {
    div[id^="forecast-index"] {
        width: 20%;
    }
}